<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Alteração de senha</title>
<link rel="stylesheet" type="text/css" href="/css/passtrength.css"
	media="screen" />
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/jquery.passtrength.js"></script>



<script type="text/javascript">
	$(document).ready(function($) {

		$('#password').passtrength({
			tooltip : true,
			textWeak : "Fraco",
			textMedium : "Moderado",
			textStrong : "Forte",
			textVeryStrong : "Muito forte",
		});

	});
</script>
</head>
<body>
	<form th:action="@{/reset_password}" method="post" id="register" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Atualize sua senha!
					</span>
					<span class="login100-form-title p-b-48">
						
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Entre com sua senha">
						<input class="input100" id="password" type="password" name="password">
						<span class="focus-input100" data-placeholder="Senha"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Confirme sua senha">
						<input class="input100" type="password">
						<span class="focus-input100" data-placeholder="Confirme sua senha"></span>
					</div>
					
					<!--<div class="container-login100-form-btn">
						 div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							
							<input type="submit" class="login100-form-btn" name="login-submit" id="login-submit"
									 value="Entrar" />
						</div> -->
						
						<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Entrar
							</button>
						</div>
					</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Não possui uma conta?
						</span>

						<a th:href="@{/registration}" class="txt2" >
							Cadastre-se
						</a>
						<span class="txt1">
							Esqueceu sua senha?
						</span>

						<a th:href="@{/forgotPasswordForm}" class="txt2">
							Redefinir senha
						</a>
					</div>
				</form>
	
	<!--  
	
	

	<form th:action="@{/reset_password}" method="post" id="register"
		style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>

				<span>Senha: </span> <input name="password" id="password" type="password" />
				<br><br>
				<span>
				Confirme sua senha: </span><input type="password" class="form-control"
						placeholder="Confirme sua senha" required
						oninput="checkPasswordMatch(this);" />
				</p>
				<p class="text-center">
					<input type="submit" value="Alterar senha" class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>
	-->
</body>
</html>