<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Baba-Online MG</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon2.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
</head>
<body>




	<script type="text/javascript">
		jQuery(document).ready(function($) {

			var $inputUsername = $('#username');
			if ($inputUsername.val() != null || $inputUsername.val() != '') {
				$inputUsername.addClass('has-val');
			}
			
			
			var $inputPassword = $('#password');
			if ($inputPassword.val() != null || $inputPassword.val() != '') {
				$inputPassword.addClass('has-val');
			}

		});
	</script>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<!-- error message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Usuario ou senha invalido</div>
				</div>



				<div th:if="${param.error2}">
					<div class="alert alert-danger">Usuario ou senha invalido -
						Conta bloqueada por excesso de tentativas falhas</div>
				</div>

				<!-- logout message -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">Logout realizado com sucesso</div>
				</div>
				<img src="img/logo.png" width="80" height="80"
					style="display: block; margin-left: auto; margin-right: auto">
				<br>
				<form class="login100-form validate-form" th:action="@{/login}"
					method="post">
					<span class="login100-form-title p-b-26"> Bem-vindo! </span> <span
						class="login100-form-title p-b-48"> </span>

					<div class="wrap-input100 validate-input"
						data-validate="E-mail válido é: a@b.c">
						<input id="username" class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Entre com sua senha">
						<span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i>
						</span> <input id="password" class="input100" type="password"
							name="password"> <span class="focus-input100"
							data-placeholder="Senha"></span>
					</div>

					<div class="container-login100-form-btn">
						<!-- div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							
							<input type="submit" class="login100-form-btn" name="login-submit" id="login-submit"
									 value="Entrar" />
						</div> -->

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">Entrar</button>
							</div>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1"> Não possui uma conta? </span> <a
							th:href="@{/registration}" class="txt2"> Cadastre-se </a> <span
							class="txt1"> Esqueceu sua senha? </span> <a
							th:href="@{/forgotPasswordForm}" class="txt2"> Redefinir
							senha </a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>